<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PTS</title>
</head>
<body>
<h1>PTS!</h1>
<div style="padding: 15px">
    <a href="/login"><h3>登录</h3></a>
</div>
<div style="padding: 15px">
    <a href="/registry"><h3>注册</h3></a>
</div>
<div style="padding: 15px">
    <a href="/me"><h3>主页</h3></a>
</div>

<div style="padding: 15px">
    <a href="https://cloud.tsinghua.edu.cn/f/dcdfcd51600645afa543"><h4>下载安卓客户端</h4></a>
</div>



</body>
<style>
    a {
        text-decoration:none;
    }
    a:visited, a:link{
        color: royalblue;
    }

</style>
</html>

